page-home{
    ion-title{
        position: absolute;
        left: 115px;
        bottom: 15px;
    }
    #header{
        Font-weight: bold;
        color: #ABBBB9;
    }
    #barcodeCard{
        position: relative;
        right: 20px;
        width: 106%;
        bottom: 18px;
    }
    #balanceCard{
        position: relative;
        right: 20px;
        width: 106%;
        bottom: 20px;
    }
    #manageCard{
        position: relative;
        right: 20px;
        width: 106%;
        bottom: 18px;
    }
    #accountId{
        position: relative;
        top: 170px;
        text-align: center;
        font-size: 20px;
    }
    #invalidacc{
        position: relative;
        top: 150px;
    }
   #cardicon{
       margin: 0px;
       position: relative;
       bottom: 150px;
   }
    #balance{
        color: #3CB371;
        position: relative;
        left: 40px;
        top: 175px;
        font-size: 63px;
       
    
    } 
     #logo{
         position: relative;
         bottom: 170px;
     }
     #logout{
         position: relative;
         bottom: 300px;
     }
     #options{
         margin-bottom: 10px;
         top:150px;
     }
     #errorbutton{
         position: relative;
         top: 200px;
     }
   

}
