<ion-header>
  
    <ion-title>
      Balance Summary
    </ion-title>
  
</ion-header>

<ion-content padding class="no-scroll">
        <ion-item id='invalidacc' #balance *ngIf ="myBalance == 'error'" floating>Error Handling Request <br>Please Try Again</ion-item>
        <!-- <ion-item id='accountId' floating><b>Account:</b> {{account}}</ion-item> -->

     <button ion-button block id="errorbutton" *ngIf="myBalance == 'error'" color='danger' (click)="logout()">Back to Login</button>
      
    <!-- <h1>Account: <br/> {{account}}</h1> -->
    <!-- <label>Pin: {{pin}}</label> -->
   
   <!-- <p id='balance' *ngIf="myBalance !== 'error'">{{myBalance}}</p> -->
    <ion-card id='balanceCard'>
        <ion-card-header id="header">
          Balance
        </ion-card-header>
       
        <label ion-item>
            <ion-icon name="card" item-start></ion-icon>
            {{account}}
        </label>
          <label  ion-item>
            <ion-icon name="cash" item-start></ion-icon>
            {{myBalance}} 
          </label>
       
      </ion-card>
  
    <ion-card id="barcodeCard">
        <ion-card-header id="header">
            Pay Now
          </ion-card-header>
          <button ion-item (click)="paypage(account, pin)" >
              <svg #barcode id='barcode'></svg>
          </button>
    </ion-card>

  <ion-card id="manageCard">
      <ion-card-header id="header">
        Manage Your Card
      </ion-card-header>
    
 
        <button (click)="addvalue()" ion-item>
          <ion-icon name="md-add-circle" item-start></ion-icon>
          Add Value
        </button>
    
        <button (click)="transactionspage(account, pin)" ion-item>
          <ion-icon name="cart" item-start></ion-icon>
          Transaction History
        </button>

    </ion-card>
    <button (click)='logout()' ion-button full id="logoutButton" >Logout</button>
    <!-- <button ion-button block id="options" style='position:relative;bottom:5px;'  *ngIf="myBalance !== 'error'"   color='danger' (click)="paypage(account, pin)">Pay Now</button> -->
   <!--  <button ion-button block id="options" style='position:relative;bottom:5px;'  *ngIf="myBalance !== 'error'"  color='danger' (click)="addvalue()">Add Value</button>
    <button ion-button block id="options" style='position:relative;bottom:5px;'  *ngIf="myBalance !== 'error'" color='danger' (click)="transactionspage(account, pin)">Transaction History</button>
    <button ion-button block id="options" style='position:relative;bottom:5px;'  *ngIf="myBalance !== 'error'" color='danger' (click)="logout()">Logout</button> -->
    <img id="logo" src='https://irp-cdn.multiscreensite.com/de923dbf/dms3rep/multi/desktop/56764850-3330-424b-acb7-b2aabc302719.png' />
    
</ion-content>
