page-welcome {
    .no-scroll{
        background-color:#D9FAFA ;
    }
    .margintop{
        margin-top: 150px;
    }
    #loginButton{
        position: relative;
        top: 220px;
       font-size: 16px;
       background-color:#90EE90;
    }
}
