page-barcode{
    ion-title{
        position: absolute;
        left: 150px;
        bottom: 15px;
    }
    #barcodeCard{
        position:relative;
        top: 70px;
    }
    .no-scroll{
        background-color:#D9FAFA ;
    }
    #logo{ //optional as long as logo
           // fits the screen
        width: 20%;
        position: relative;
        top: 410px;
        left: 15px;
        
    }
}
